.detail_section {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_wrapper {
  width: 20%;
  height: 100vh;
  font-size: 0.9em;
  margin-left: 2%;

  display: flex;
  align-items: end;
}

.text {
  word-break: break-all;
  white-space: pre-wrap; // 줄바꿈 요소 적용 가능
  height: 40%;
  margin-bottom: 46%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;
  }
}

.main_img_wrapper {
  width: 50%;
  text-align: center;
}

.main_img {
  width: 80%;
  height: 80vh;
  object-fit: scale-down;
  filter: drop-shadow(5px 5px 5px #000);
}

.right_contents_wrapper {
  width: 20%;
  text-align: center;
}

.inner_page_list {
  height: 75vh;
  margin-top: 30%;
  overflow-y: scroll;
}

.inner_pages {
  margin-bottom: 1em;
}

.inner_figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::-webkit-scrollbar {
    width: 2px;
    height: 12px;
  }
}

.inner_img {
  width: 50%;
  filter: drop-shadow(5px 5px 5px #000);
  cursor: pointer;
}

.inner_text {
  font-size: small;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
}
