.detail_section {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // overflow-y: scroll;
}

.text_wrapper {
  width: 20%;
  height: 100vh;
  font-size: 0.9em;
  margin-left: 2%;

  display: flex;
  align-items: end;
}

.description {
  font-size: 1vw;
  word-break: break-all;
  white-space: pre-wrap; // 줄바꿈 요소 적용 가능
  height: 40%;
  margin-bottom: 46%;
  line-height: 1.3em;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;
  }
}

.main_img_wrapper {
  width: 50%;
  text-align: center;
}

.detail_main_title {
  font-size: 1.8vw;
  font-weight: 600;
  margin: 0 5% 2% 0;
  text-align: center;
}

.main_img {
  padding-right: 5%;
  width: 74%;
  height: 80vh;
  object-fit: scale-down;
  filter: drop-shadow(5px 5px 5px #000);
}

.right_contents_wrapper {
  width: 20%;
  height: 90%;
  text-align: center;
}

.inner_page_list {
  height: 70vh;
  margin-top: 30%;
  margin-right: 10%;
  padding-right: 34%;
  overflow-y: scroll;
}

.inner_page_list::-webkit-scrollbar {
  width: 8px;
}

.inner_page_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(152, 152, 152);
  background-clip: padding-box;
  border: 2px solid transparent;
}

.inner_pages {
  margin-bottom: 1em;
}

.inner_figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::-webkit-scrollbar {
    width: 2px;
    height: 12px;
  }
}

.inner_img {
  width: 100%;
  filter: drop-shadow(5px 5px 5px #000);
  cursor: pointer;
}

.inner_text {
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
}
