.collection_section {
  width: 80vw;
  align-content: center;
}

.img_section {
  width: 90%;
  height: 90vh;
  margin: 35px 50px 0 50px;
  padding-top: 80px;
  padding-left: 4%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fill, minmax(14vw, 1fr));
  gap: 6%;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.items {
  margin-bottom: 2em;
}

.image {
  width: 100%;
  // height: 20%;
  aspect-ratio: 1/1.8;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px #000);
  cursor: pointer;
}

.main_title {
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
}

.category.category_ko {
  width: 60%;
  line-height: 1.5vw;
}

.category {
  width: 70%;
  height: 5.5vh;
  line-height: 1vw;
  padding: 0 20px;
  position: absolute;
  left: 60.5%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgb(231, 231, 231), white);
  border: medium solid white;
  border-radius: 50px;
  box-shadow: 5px 8px 6px rgb(187, 187, 187);
  z-index: 10;
  cursor: pointer;

  input {
    width: 20%;
    all: unset;
    color: gray;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    display: none;
    &:checked + span {
      background-color: opacity($color: #000000);
      color: white;
    }
  }

  .category_item_ko:has(:checked),
  .category_item_en:has(:checked) {
    background: linear-gradient(to bottom, #4669ae, #78bbd9);
    color: white;
  }

  label {
    font-size: 1vw;
    font-weight: 600;
    margin: 0.7vw;

    word-break: keep-all;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    // text-align: center;
    width: 100%;
    cursor: pointer;
  }
}

.category_item_en {
  width: 20%; //En
  padding-top: 0.4%; //En
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  white-space: pre-wrap;

  label {
    font-size: 0.9vw;
  }

  &:first-child {
    width: 15%;
  }

  &:nth-child(2) {
    width: 15%;
  }

  &:nth-child(3) {
    width: 15%;
  }

  &:nth-child(4) {
    width: 14%;
  }

  &:nth-child(5) {
    width: 16%;
  }

  &:nth-child(6) {
    width: 18%;
  }

  &:nth-child(7) {
    width: 15%;
  }

  &:last-child {
    width: 10%;
  }
}
