.collection_section {
  width: 80vw;
}

.img_section {
  height: 80vh;
  margin: 35px 50px 0 50px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14vw, 1fr));
  gap: 6%;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.items {
  margin-bottom: 2em;
}

.image {
  width: 100%;
  // height: 20%;
  aspect-ratio: 1/2;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px #000);
  cursor: pointer;
}

.main_title {
  font-size: 1em;
  font-weight: 600;
  padding-top: 8px;
  text-align: center;
}

.category {
  width: 60%;
  height: 6vh;
  line-height: 6.5vh;
  padding: 0 20px;
  position: absolute;
  left: 60%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgb(231, 231, 231), white);
  border: medium solid white;
  border-radius: 50px;
  box-shadow: 5px 8px 6px rgb(187, 187, 187);
  z-index: 10;

  input {
    width: 20%;
    all: unset;
    color: gray;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.1vw;
    display: none;
    &:checked + span {
      background-color: opacity($color: #000000);
      color: white;
    }
  }
  .category_item:has(:checked) {
    background: linear-gradient(to bottom, #4669ae, #78bbd9);
    color: white;
  }
  label {
    font-size: 1em;
    text-align: center;
    margin: 0.7em;
  }
}

.category_item {
  text-align: center;
}
