@import "../../styles/mixin";

.main_page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-size: cover;
  background-position: center;

  //overflow: hidden;
}

.main_page_img {
  width: 100%;

  object-fit: contain;
}

.main_buttons_section {
  width: 20vw;
  position: absolute;
  left: 66%;
  top: 45%;

  button {
    all: unset;
    padding-bottom: 6%;
    img {
      width: 20vw;
    }
  }
}

.lang_btn_wrapper {
  width: 20%;
  // padding: 10px;
  border-radius: 2em;
  position: absolute;
  left: 66%;
  top: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  // float: right;

  label {
    font-size: 1.5vw;
    font-weight: 700;
  }

  input {
    all: unset;
  }
}

.btn_divide_line {
  border: 1.5px solid #000;
  height: 3vh;
}

.main_play_btn {
  position: fixed;
  top: 90%;
  left: 93.5%;
}

@include mobile {
  .main_buttons_section {
    button {
      padding-bottom: 2%;
    }
  }

  .lang_btn_wrapper {
    left: 66%;
    bottom: 0.2%;
  }

  .main_play_btn {
    top: 91%;
  }

  .btn_divide_line {
    border: 0.8px solid #000;
  }
}
