.quiz2_section {
  width: 100%;
  height: 60%;
  margin-top: 2%;

  display: flex;
}

.quiz_title_wrapper {
  width: 100%;
  height: 20%;
  margin-bottom: 3%;
}

.quiz2_title_section {
  width: 60%;
  height: 100%;
  margin: 5% 0 1% 0;
  color: #595757;

  h1 {
    font-size: 2.3vw;
    font-weight: 600;
  }

  hr {
    background-color: #2ea6df;
    width: 100%;
    height: 0.35vh;
    border: none;
    margin: 1% 0;
  }

  p {
    height: 60%;
    font-size: 1vw;
    line-height: 1.8vw;
    padding: 2% 0;
    overflow-y: scroll;
  }
}

.quiz2_img {
  width: 75%;
  height: 100%;

  display: flex;
  align-items: flex-end;

  .quiz_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }

  .withDesc {
    width: 40%;
    height: 90%;
    padding-bottom: 3%;
    margin-left: 2vw;
  }

  p {
    width: 40%;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 2.5vw;
    padding-bottom: 3%;
    margin-left: 2vw;
  }
}

.withDesc_wrapper {
  border: 1px solid gray;

  background: linear-gradient(to bottom, #8ea0bb, white, white);
  box-shadow: 4px 4px 10px 4px rgba(90, 90, 90, 0.584);
}

.quiz2_btn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5%;

  .quiz_btn_object {
    all: unset;
    width: 10vw;
    // width: fit-content;
    height: 4.5vh;
    border-radius: 2vw;
    border: 0.2vw solid rgb(232, 232, 232);

    background-size: cover;
    background-position: center;

    // background: radial-gradient(
    //   50% 50% at 50% 50%,
    //   rgba(103, 103, 103, 0) 11.98%,
    //   #939393 86.98%
    // );

    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;

    margin: 0.7vw 0;

    &.active {
      //   background: radial-gradient(
      //     50% 50% at 50% 50%,
      //     rgba(103, 103, 103, 0) 11.98%,
      //     #88a52a 86.98%
      //   );
      background-size: cover;
      background-position: center;
    }
  }
}

.quiz_result {
  width: 40vw;

  position: absolute;
  top: 27vh;
  left: 40vw;

  img {
    width: 100%;
    opacity: 1;
    margin-top: 4vh;
    animation: fadein 3s ease 2s;
    -webkit-animation: fadein 1s;

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @-webkit-keyframes fadein {
      /* Safari and Chrome */
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

#wrong_img {
  margin-top: 7vh;
  animation: none;
}

.quiz6_btn {
  width: 16vw !important;
}
