.quiz4_all_wrapper {
  width: 100%;
  height: 80%;
}

.quiz4_section {
  width: 100%;
  height: 70%;

  display: flex;
  column-gap: 5%;
  justify-content: left;
}

.quiz4_img {
  width: 60%;
  height: 98%;

  display: flex;
  align-items: flex-end;
}

.quiz4_btn {
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5%;
}

.quiz4_complete_btn_wrapper {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.complete_line {
  width: 100%;
  height: 0.1vh;
  background-color: #000;
}

.complete_btn {
  width: 4vw;
  aspect-ratio: 1/1;
  position: absolute;
  left: 68vw;

  img {
    width: 100%;
  }
}
