@import "../../../styles/mixin";

.all_container {
  width: 100vw;
  height: 100vh;
  background-color: #efefee;
}

.content {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  padding: 3vh 0;
  background-color: #efefee;
}

@include mobile {
  .content {
    width: 84%;
    height: 100vh;
    margin-left: 18%;
    padding: 3vh 0;
    background-color: #efefee;
  }
}
