.making_medal_container {
  width: 94%;
  height: 100vh;
  padding-left: 6%;
  margin-top: -5%;
  padding-top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.left_section,
.right_section {
  width: 50%;
  height: 100%;
  //   text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.making_description {
  width: 100%;
  height: 20%;
  margin: 5% 0;

  h1 {
    font-size: 2.8vw;
    font-weight: 600;
    color: #595757;
  }

  hr {
    background-color: #2ea6df;
    width: 100%;
    height: 0.35vh;
    border: none;
  }

  p {
    font-size: 1.3vw;
    padding: 2% 0;
    line-height: 1.5em;
  }
}

.objects_wrapper {
  width: 100%;
  height: 80%;
  margin-top: 2%;

  hr {
    margin: 6% 0;
    border: 0.5px solid darkgray;
  }
}

.boards {
  width: 70%;
  height: 70%;
  border: 1px solid darkgray;
  margin-top: 26%;
  margin-left: 4%;
  overflow: hidden;
  position: relative;
}
