.medal_detail1_container {
  width: 100%;
  height: 100vh;
  margin-top: -10%;
  padding-top: 8%;
  background-color: #fff;

  display: flex;
}

.detail1_section_wrapper1 {
  width: 50%;
  padding: 4% 0 1% 6%;
}

.detail1_section_wrapper2 {
  width: 40%;
  padding: 6% 0 0 4%;

  img {
    width: 90%;
    height: 85%;
  }
}

.medal_detail1_seciton {
  height: 20vh;
  margin: 5% 0;

  h2 {
    font-size: 2vw;
    font-weight: 500;
  }

  p {
    font-size: 1.4vw;
    padding: 2% 0;
    line-height: 1.4em;
  }
}

.medal_detail1_img_1 {
  p {
    font-size: 1vw;
    padding: 2% 0;
    line-height: 1.4em;
  }
}

.dividing_line {
  background-color: #2ea6df;
  width: 100%;
  height: 0.35vh;
  border: none;
}

.medal_detail1_img_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  margin-top: 10%;

  img {
    width: 16vw;
  }
}

.detail1_en_desc {
  height: 18vh;
  font-size: 1.2vw;
  padding: 2% 0;
  line-height: 1.2em;

  overflow-y: scroll;
}

.detail1_en {
  margin-bottom: 8%;

  &:nth-child(2) {
    h2 {
      margin-top: 12%;
    }
  }
}
