.medal_detail1_container {
  width: 100%;
  height: 100vh;
  margin-top: -10%;
  padding-top: 8%;
  background-color: #fff;

  display: flex;
}

.detail1_section_wrapper1 {
  width: 50%;
  padding: 4% 0 1% 6%;
}

.detail1_section_wrapper2 {
  width: 40%;
  padding: 6% 0 0 4%;

  img {
    width: 90%;
    height: 85%;
  }
}

.medal_detail1_seciton {
  height: 20vh;
  margin: 5% 0;

  h2 {
    font-size: 1.8vw;
    font-weight: 500;
    margin-bottom: 1%;
  }

  p {
    line-height: 1.8vw;
    padding: 2% 0;
    overflow-y: auto;
  }
}

.dividing_line {
  background-color: #2ea6df;
  width: 100%;
  height: 0.35vh;
  border: none;
}

.medal_detail1_img_1 {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  margin-top: 6%;

  img {
    width: 16vw;
  }

  p {
    height: 85%;
    line-height: 1.6vw;
    overflow-y: auto;
  }
}

.detail1_en_desc {
  height: 70%;
  line-height: 1.8vw;
  padding: 2% 0;

  overflow-y: auto;
}

.detail1_en {
  margin-top: 12%;
}
.detail1_en_wrapper {
  h2 {
    font-size: 1.5vw;
  }
}
