.story_detail_section {
  height: 100vh;
  margin-top: -5%;
  padding-top: 8%;
  background-color: #fff;

  h1 {
    padding-left: 18%;
    font-size: 3vw;
    margin: 0 2%;
    color: #595757;
  }
}

.animation_content {
  width: auto;
  height: 50vh;
  text-align: center;
  line-height: 60vh;
}

.text_content {
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 40%;
    font-size: 1.5vw;

    &:last-child {
      padding: 4% 0;
      text-align: end;
    }
  }
}
