.story_detail_section {
  height: 100vh;
  margin-top: -5%;
  padding-top: 8%;
  background-color: #fff;

  h1 {
    padding-left: 18%;
    font-size: 3vw;
    margin: 0 2%;
    color: #595757;
  }
}

.animation_content {
  width: auto;
  height: 50vh;
  text-align: center;
  line-height: 60vh;
}

.text_content {
  width: auto;
  margin-top: 7%;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 44%;
    font-size: 1.5vw;
    word-break: break-all;
    white-space: pre-wrap;

    &:last-child {
      padding: 4% 0;
      text-align: end;
    }
  }
}

.animation_content {
  width: 40vw;
  height: 40vh;
  position: relative;
  top: 5%;
  left: 24%;
  // box-shadow: 4px 4px 10px 4px rgba(90, 90, 90, 0.584);
}
