@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.story_item {
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
    aspect-ratio: 1/0.5;
  }

  p {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 10%;
    padding: 0 6%;

    font-size: 1.6vw;
    font-family: "Nanum Pen Script", cursive;
    text-align: left;

    word-break: break-all;
    white-space: pre-wrap; // 줄바꿈 요소 적용 가능
    vertical-align: middle;
  }

  .story_title_en {
    padding: 0;
    line-height: 2.7vh;
  }
}

.manhae_story_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5%;
  padding-top: 8%;
  background-color: #fff;
}

.top_img {
  width: 8%;
  aspect-ratio: 1/1.8;
  margin-top: -7%;

  position: absolute;
  left: 25%;
}

.title_section {
  width: 78%;
  height: 15%;
  padding-left: 14%;

  display: flex;

  h1 {
    font-size: 3vw;
    color: #595757;
    margin: 0 2%;
  }

  p {
    height: auto;
    padding-top: 2%;
    font-size: 1.5vw;
    color: #595757;
  }
}

.story_title_section {
  width: 76%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4vw;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 10%;

  &::-webkit-scrollbar {
    display: none;
  }
}
